@using MadPoint.BlogViewer.AppWeb.Resources
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="//ajax.aspnetcdn.com/ajax/4.0/1/MicrosoftAjax.js" type="text/javascript"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>  
    <script src="~/Scripts/chrome.js"></script>
    <script src="~/Scripts/viewer.js"></script>
    <title>@Viewer.InstructionsTitle</title>
</head>
<body>
    <div id="chrome_ctrl_placeholder"></div>
    <h1>@Viewer.InstructionsTitle</h1>
    <p>@Viewer.InstructionsText</p>
</body>
</html>